abi filter=lfs diff=lfs merge=lfs -text
build_abi.sh filter=lfs diff=lfs merge=lfs -text
config.sh filter=lfs diff=lfs merge=lfs -text
copy_symbols.sh filter=lfs diff=lfs merge=lfs -text
hermetic filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
static_analysis filter=lfs diff=lfs merge=lfs -text
synchronize_owners filter=lfs diff=lfs merge=lfs -text
build.config filter=lfs diff=lfs merge=lfs -text
build_test.sh filter=lfs diff=lfs merge=lfs -text
envsetup.sh filter=lfs diff=lfs merge=lfs -text
multi-switcher.sh filter=lfs diff=lfs merge=lfs -text
build.config.net_test filter=lfs diff=lfs merge=lfs -text
build.sh filter=lfs diff=lfs merge=lfs -text
build-tools filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
gki filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
_setup_env.sh filter=lfs diff=lfs merge=lfs -text
